#container {
    height: 600px;
    width: 600px;
    min-width: 300px;
    max-width: 600px; 
    margin: 0 auto; 
    border: 5px solid #005a8f;
}
.loading {
    margin-top: 0em;
    text-align: center;
    color: gray;
}
